@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
	margin: 0;
	padding: 0;
	display: block;
}

/*Logo styling*/
.top-container {
	background-color: black;
	border-bottom: 4px solid yellow;
	padding: 0 3% 2px 3%;
	overflow: hidden;
}

.navigation {
	margin: auto;
}

.nav-logo {
	float: left;
	color: yellow;
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 15px;
}

.nav-logo:link, .nav-logo:visited {
	color: yellow;
	text-decoration: none;
}

/*Navigation styling*/

.top-container nav {
	float: right;
	padding: 3px 15px 18px 0;
}

.nav-link {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 5px 0 15px 30px;
	font-size: 20px;
}

.nav-link1 {
	font-family: 'Oswald', sans-serif;
	padding: 5px 0 15px 30px;
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
}

.nav-link:link, .nav-link:visited, .nav-link1:link, .nav-link1:visited {
	color: white;
	text-decoration: none;
}

.nav-link:hover, .nav-link1:hover {
	color: yellow;
}

.nav-link:active, .nav-link1:active {
	background-color: gray;
	color: white;
}

.motto-container {
	position: relative;
	background-color: #ccc;
	text-align: center;
	font-family: 'Merriweather', serif;
	width: 100%;
	height: 5%;
	font-style: italic;
	border-top: 1px solid #afafaf;
	box-sizing: border-box;
	/*box-shadow: 10px 10px 5px grey;*/
}

.motto-container h2 {
	padding-bottom: 5px;
}

.taste {
	color: gray;
}

.are {
	text-decoration: none;
	border-bottom: 3px solid yellow;
}

/*Center styling*/
.center {
	position: relative;
    width: 100%;
    height: 415px;
    background-image: url(../assets/coworking.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	box-sizing: border-box;
}

/*Aside Styling*/
.side {
	position: absolute;
    top: 31px;
    right: 31px;
    width: 35%;
    height: 70%;
    background: rgba(255,255,255,.8);
    padding: 25px 30px 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	margin-left: 10px;
}
.side p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	text-align: left;
	margin-left: 10px;
	line-height: 30px;
}

.create-a-profile-button {
	background-color: yellow;
	border: none;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 10px;
	padding: 12px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    width: 90%;
}

/*Sections styling*/
.sections-container{
	display: flex;
	min-height: 300px;
	position: relative;
}

.column {
	background-color: #fff;
	width: 33.33%;
	height: 250px;
	box-sizing: border-box;
}

article {
	border-right: 1px solid #ccc;
	padding: 1px 30px 20px 30px;
	margin: 20px 0;
}

.last-column {
	border: none;
}

.column h1 {
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 25px;
}

.column h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: lighter;
	line-height: 28px;
}

.article-button {
	background-color: #c6c6c6;
	border: none;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 40px 5px 40px;
	font-size: 20px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	border-radius: 5px;
	padding: 12px;
	width: 90%
}

/*Footer styling*/
.footer {
	position: relative;
	left: 0;
    bottom: 0;
    width: 100%;
	background-color: black;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
	text-align: left;
	padding: 15px 35px;
}




